<!DOCTYPE html>
{% load static %}
<html lang="en">

<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/post/css/style.css' %}">
    <link rel="stylesheet" href="/post/static/post/css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        {% include 'post/navbar.html' %}
        {% block content %}
        
        {% endblock content %}
    
        {% include 'post/footer.html' %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

