
 {% load static %}
<link rel="stylesheet" href="{% static 'post/css/style.css' %}">

<div class="container-fluid letter">
    <div class="row">
        <div class="col">
            <div class="news text-center">
                <h1>SUBSCRIBE OUR NEWSLETTER</h1>
                <P>Lorem ipsum dolor sit amet  exercitationem qui veritatis quo porro.</P>
                <input type="text" name="" id="" placeholder="Enter your name" style="width:250px ; height:20px;" >
                <input type="submit" value="Subcribe" id="subcol">
            </div>
        </div>
    </div>
</div>

<section class="sub">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
            <div class="main">
                <h1>Main Menu</h1>
                <a href="index.html">Home</a>
                <a href="#">Our services</a>
                <a href="cart.html">Our Products</a>
                <a href="#">About us</a>
                <a href="#">Contact Us</a>
                <p>Designed by RealMinTech</p>
             </div>
            </div>
            <div class="col">
             <div class="know">
                <h1>Knowledge Base</h1>
                <ul>
                    <a href="#">Delivery</a>
                    <a href="#">Returns</a>
                    <a href="#">Services</a>
                    <a href="#">Discount</a>
                    <a href="#">Special offer</a>
                </ul>
             </div>
            </div>
            <div class="col">
             <div class="use">
                <h1>Useful Links</h1>
                <a href="#">Site Map</a>
                <a href="#">Search</a>
                <a href="#">Services</a>
                <a href="#">Discount</a>
                <a href="#">Special offer</a>
            </div>
           </div>
           <div class="col">
            <div class="US">
                <h1>Contact Us</h1>
                <p>12,Osunbukola street,Dada estate.Osogbo</p>
                <i class="fas fa-phone">08133433956</i>
                <i class="fas fa-envelope">Adesinamariam7@gmail.com</i>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-google-plus"></i>
                <i class="fab fa-youtube"></i>
            </div>
            </div>
        </div>
    </div>
  

</section>