{% extends 'post/base.html' %}


{% block content %}

<style>
    .post-img {
        height: 200px !important;
        width: 200px !important;
    }
</style>

<div class="jumbotron bg-secondary p-5">
    <div class="container">
        <h1 class="display-4">My Blog</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>

<div class="row">
    {% for post in posts %}
    <div class="card col-sm m-4">
        <!--style="width: 18rem;"> -->
        <img class="post-img" src="{{ post.img_url }}" alt="" srcset="">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.body | truncatewords:30 }}</p>
            <a href="{% url 'detail' post.pk %}" class="btn btn-primary">Read more..</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}